/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Styling Starts Here */

/* Global Variables */
:root {
  --primary-color: #ddc7bb;
  --secondary-color: #fef7f2;
  --accent-color: #ddc7bb;
  --font-color: #2b1b12;
  --heading-one: 2.5em;
  --heading-two: 2em;
  --heading-three: 1.5em;
  --paragraph-size: 1em;
  --paragraph-inline: max(16px, 50dvi - 600px);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;

  line-height: 1.8;

  color: var(--font-color);
}
header,
.hero {
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3em;
  padding-inline: var(--paragraph-inline);
}
header .logo {
  width: 120px;
}
header .logo > * {
  max-width: 100%;
}
header i {
  padding: 1em;
  color: #2b1b12;
  text-decoration: none;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}
nav ul li a {
  text-decoration: none;
  color: #2b1b12;
  font-size: 1em;
  font-weight: bold;
  margin: 0 1em;
}
header button,
.hero button, .signup-btn {
  background-color: var(--font-color);
  color: white;
  border: none;
  font-weight: 500;
  padding: 1em 2.5em;
  border-radius: 5px;
}
header button a,
.hero button a {
  text-decoration: none;
  color: white;
  font-size: var(--paragraph-size);
}
.hero-column {
  padding-top: 3em;
  display: grid;
  grid-template-columns: 400px 1fr;
}
.hero {
  overflow-inline: clip;
  overflow-x: clip;
}
.hero h1 {
  font-size: 3em;
  font-weight: bolder;
}
.hero p {
  font-size: var(--paragraph-size);
  font-weight: 700;
  margin: 1.5em 0;
}
.hero button {
  margin: 1.5em 0 10em 0;
}
.hero .hero-img {
  width: 800px;
  transform: translateY(-100px);
}
.sign-up-form {
  transform: translateY(-50%);
}
.sign-up-form form {
  background-color: var(--accent-color);
  padding: 2em 1em;
  border-radius: 15px;
  box-shadow: 0px 11px 47px -17px rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-inline: max(16px, 50dvi - 500px);
  gap: 16px;
}

.sign-up-form label span {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.sign-up-form label img {
  margin-inline-start: -3em;
  transform: translateY(4px);
}

.sign-up-form input {
  font-weight: bold;
  padding: 1em 2em;
  border-radius: 5px;
  border: none;
  margin-right: 1em;
}

.help {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: var(--paragraph-inline);
}
.help img {
  width: 500px;
  border-radius: 10px;
}

.luxury-img {
  margin: 0 10px 0 0;
}
.help h2 {
  font-size: var(--heading-two);
  font-weight: bolder;
  margin-bottom: 1em;
}
.help h3 {
  font-size: var(--heading-two);
  font-weight: bolder;
}
.help p {
  font-weight: bold;
  margin-bottom: 2em;
}
.stats-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
/* Why Choose Us Section */
.why-choose-us {
  padding-top: 5em;
  padding-inline: var(--paragraph-inline);
  
}
.why-choose-us h2 {
  text-align: center;
  font-size: var(--heading-two);
  font-weight: bolder;
  margin-bottom: 1em;
  margin-inline: max(16px, 50dvi - 500px);
}
.why-choose-us-text{
  font-weight: bold;
  margin-bottom: 4em;
  text-align: center;
  /* width: 50%; */
}
.col-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
}

.cards {
  background-color: var(--accent-color);
  border-radius: 10px;
  padding: 1em;
}
.cards img {
  width: 80px;
  margin-bottom: 1em;
  background-color: #FBF5F1;
  border-radius: 10px;
  padding: 1em;
}
.cards h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}
.cards p {
  font-weight:500;
}
/* End of Why Choose Us */

/* Our popular residences */
.popular-residences {
  padding-top: 5em;
  padding-inline: var(--paragraph-inline);
}
.popular-residences h2 {
  text-align: center;
  font-size: var(--heading-two);
  font-weight: bold;
  margin-bottom: 1em;
}
.popular-residences p {
  
}
.california {
  background-color: var(--accent-color);
  border-radius: 10px;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
  margin-bottom: 2em;
}

/* Footer */
.footer-container {
    background-color: #DDC7BB;
    color: #2B1B12;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-inline: var(--paragraph-inline);

}
.footer {
    padding: 2em 0 0 3em;   
}
.footer-container img {
  width: 120px;
    max-width: 100%;
}
.logo-paragraph {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.footer h3 {
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: bold;
}
.footer a, .footer p {
    text-decoration: none;
    color: #2B1B12;
    display: block;
    margin-bottom: 1em;
    font-size: 0.95em;
    font-weight: bold;
    }
